<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AndroidService</name>
    <js-module name="AndroidService" src="www/AndroidService.js">
        <clobbers target="cordova.plugins.AndroidService" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AndroidService">
                <param name="android-package" value="cordova.AndroidService" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/AndroidService.java" target-dir="src/cordova/AndroidService" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AndroidService">
                <param name="ios-package" value="AndroidService" />
            </feature>
        </config-file>
        <source-file src="src/ios/AndroidService.m" />
        <service android:name="MyService"/>
    </platform>
</plugin>